$dark-theme: #011638;
$neutral-theme: #364156;
$light-theme: #BDD6E1;
$white-ish: #d3d3d3;
$fancy-text: 'Dancing Script', cursive;
$chill-text: 'Quicksand', sans-serif;

body {
  background-color: $light-theme;
}
.bio {
  background-color: $dark-theme;
  color: $white-ish;
  font-family: $chill-text;
}
.bio-background {
  background-image: url('/img/plant2.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: 15%;
  background-color: inherit;
}

.header-card h1 {
  color: $dark-theme;
  font-family: $fancy-text;
  font-size: 4rem;
}
.header-card h4 {
  color: $dark-theme;
  font-family: $chill-text;
}
.header-icon {
  background-color: inherit;
  border: none;
  color: white;
  align-items: 'center';
}
.intro-card {
  background-color:$neutral-theme;
  color: $white-ish;
  border: solid;
  border-width: 2px;
  border-color: $dark-theme;
  margin: 10rem;
}
.intro-card h1 {
  font-family: $fancy-text;
  font-size: 4rem;
}
.intro-card h3 {
  font-family: $chill-text;
}
.projectCard {
  background-color: $neutral-theme;
  color: $white-ish;
  font-family: $chill-text;
}
.section {
  background-color: inherit;
  color: $dark-theme;
  font-family: $fancy-text;
}
#moreButton{
  font-family: $chill-text;
  font-size: 1em;
  background-color:$neutral-theme;
}