body {
  background-color: #BDD6E1;
}
.intro-card {
  background-color:#364156;
  color: #d3d3d3;
  border: solid;
  border-width: 2px;
  border-color: #011638;
  margin: 10rem;
}
.intro-card h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
}
.intro-card h3 {
  font-family: 'Quicksand', sans-serif;
}
